<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled46.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [36]:
df=pd.DataFrame({
    'ITEM':['APPLE','BANANA','PLUMS','STARBERRY','KIWI'],
    'QUAnTITY':[12,2,34,5,50],
    'PRICE':[100,200,300,400,500],
    
})
df

        ITEM  QUAnTITY  PRICE
0      APPLE        12    100
1     BANANA         2    200
2      PLUMS        34    300
3  STARBERRY         5    400
4       KIWI        50    500

In [37]:
df.index=[1,2,3,4,5]
df

        ITEM  QUAnTITY  PRICE
1      APPLE        12    100
2     BANANA         2    200
3      PLUMS        34    300
4  STARBERRY         5    400
5       KIWI        50    500

In [54]:
df.iloc[1:12,[0,2]]

        ITEM  PRICE
2     BANANA    200
3      PLUMS    300
4  STARBERRY    400
5       KIWI    500

In [58]:
df.loc[1]

ITEM        APPLE
QUAnTITY       12
PRICE         100
Name: 1, dtype: object

In [62]:
df.rename(columns={
    "ITEM":'FRUITS'
})
df.index=['A',"B",'C','D','E']
df

        ITEM  QUAnTITY  PRICE
A      APPLE        12    100
B     BANANA         2    200
C      PLUMS        34    300
D  STARBERRY         5    400
E       KIWI        50    500

In [65]:
df.rename(columns={
    'FRUITS':'Fruits',
    'QUAnTITY':'Quantity',
    'PLUMS':'Plums',
    'STARBERRY':'Strawberry',
    'KIWI':'Kiwi',
},
index={'A':1,'B':2,'C':3,'D':4,'E':5}
)

        ITEM  Quantity  PRICE
1      APPLE        12    100
2     BANANA         2    200
3      PLUMS        34    300
4  STARBERRY         5    400
5       KIWI        50    500