<a href="https://colab.research.google.com/github/manoj-raghav/python/blob/main/Untitled48.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({
    'NAME':['RAM','SAM','SIVA','JOSEPH','JACKLIN','RAHMAN'],
    'AGE':[10,39,73,49,89,25],
    'CALORIE BURNT':[12.4,45.3,34.8,23.3,56.2,26.5],
    'WEIGHT REDUCED':[1,9,2,3,4,7],
    'AMOUNT SPENT':[10000,21000,32909,84390,23900,3870]
    })
df

      NAME  AGE  CALORIE BURNT  WEIGHT REDUCED  AMOUNT SPENT
0      RAM   10           12.4               1         10000
1      SAM   39           45.3               9         21000
2     SIVA   73           34.8               2         32909
3   JOSEPH   49           23.3               3         84390
4  JACKLIN   89           56.2               4         23900
5   RAHMAN   25           26.5               7          3870

In [4]:
df.info

<bound method DataFrame.info of       NAME  AGE  CALORIE BURNT  WEIGHT REDUCED  AMOUNT SPENT
0      RAM   10           12.4               1         10000
1      SAM   39           45.3               9         21000
2     SIVA   73           34.8               2         32909
3   JOSEPH   49           23.3               3         84390
4  JACKLIN   89           56.2               4         23900
5   RAHMAN   25           26.5               7          3870>

In [17]:
df.shape

(6, 5)

In [14]:
columns=df.shape[1]
columns

5

In [18]:
rows=df.shape[0]
rows

6

In [34]:
df['AMOUNT SPENT']='NILL'
df

     NAME  AGE  CALORIE BURNT  WEIGHT REDUCED AMOUNT SPENT
0  PERSON   10           12.4               1         NILL
1  PERSON   39           45.3               9         NILL
2  PERSON   73           34.8               2         NILL
3  PERSON   49           23.3               3         NILL
4  PERSON   89           56.2               4         NILL
5  PERSON   25           26.5               7         NILL

In [35]:
df.rename(columns={'AGE':'DATE'})

     NAME  DATE  CALORIE BURNT  WEIGHT REDUCED AMOUNT SPENT
0  PERSON    10           12.4               1         NILL
1  PERSON    39           45.3               9         NILL
2  PERSON    73           34.8               2         NILL
3  PERSON    49           23.3               3         NILL
4  PERSON    89           56.2               4         NILL
5  PERSON    25           26.5               7         NILL

In [43]:
df.loc[:3]

     NAME  AGE  CALORIE BURNT  WEIGHT REDUCED AMOUNT SPENT
0  PERSON   10           12.4               1         NILL
1  PERSON   39           45.3               9         NILL
2  PERSON   73           34.8               2         NILL
3  PERSON   49           23.3               3         NILL

In [66]:
df.iloc[1:3]

     NAME  AGE  CALORIE BURNT  WEIGHT REDUCED AMOUNT SPENT
1  PERSON   39           45.3               9         NILL
2  PERSON   73           34.8               2         NILL

In [67]:
df.iloc[1,3]

9

In [50]:
df.iloc[0:3,[0,1]]

     NAME  AGE
0  PERSON   10
1  PERSON   39
2  PERSON   73